<nav id="idNav" class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand">KnowONE</a> 
  <button class="navbar-toggler" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isExpanded }" *ngIf="english">
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/home']" [routerLinkActive]="['active']">HOME</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/aboutus']" [routerLinkActive]="['active']">ABOUT US</button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <button class="btn btn-link" (click)="changeLanguage()" [routerLink]="['/home/no']">NORWEGIAN</button>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isExpanded }" *ngIf="!english">
    <ul class="nav navbar-nav d-flex justify-content-center mx-auto">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/home/no']" [routerLinkActive]="['active']">HJEM</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/aboutus/no']" [routerLinkActive]="['active']">OM OSS</button>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <button class="btn btn-link" (click)="changeLanguage()" [routerLink]="['/home']">ENGELSK</button>
      </li>
    </ul>
  </div>
</nav>