<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="navbar-brand" style="width: 50px; height: 50px; border-radius: 50%; background-color: black;"></div>
  <button class="navbar-toggler" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isExpanded }">
    <ul class="nav navbar-nav navbar-center mx-auto d-flex justify-content-between">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/home']">Home</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" [routerLink]="['/knowone']">KnowONE</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" [routerLink]="['/aboutus']">About Us</button>
      </li>
      <li class="nav-item" style="visibility: hidden;">
        <button class="btn btn-link" [routerLink]="['/admin']">Admin</button>
      </li>
    </ul>
  </div>
</nav>