<div class="container">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="username">Password:</label><br />
      <input type="text" class="form-control" id="username" formControlName="username" /> <br />
    </div>


    <div class="form-group">
      <label for="password">Password:</label><br />
      <input type="password" class="form-control" id="password" formControlName="password" /> <br />
    </div>


    <br />

  </form>

  <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="onLogIn()" [disabled]="!loginForm.valid">Login</button>
  </div>
</div>
