<nav class="navbar navbar-default position-fixed">
  <button class="btn btn-link" [routerLink]="['/home']">Wikinomics</button>

  <ng-container *ngIf="loggedIn; else elseBlock">
    <button class="btn btn-link" [routerLink]="['/admin']">Admin</button>
  </ng-container>
  <ng-template #elseBlock>
  <button class="btn btn-link"[routerLink]="['/login']">Admin</button>
  </ng-template>
</nav>

<div class="jumbotron min-vh-100" >
  <div class="container" @slide>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Username:</label><br />
        <input type="text" class="form-control" id="username" formControlName="username" /> <br />
      </div>


      <div class="form-group">
        <label for="password">Password:</label><br />
        <input type="password" class="form-control" id="password" formControlName="password" /> <br />
      </div>


      <br />

    </form>

    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="onLogIn()" [disabled]="!loginForm.valid">Log in</button>
    </div>
  </div>
</div>
