.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnToHome {
    position: fixed;
    bottom: 0;
    right: 0;
}