<nav class="navbar navbar-default position-fixed"> 
  <button class="btn btn-link" (click)="BackToMain()">Wikinomics</button>
  <button class="btn btn-link"><a href="../admin">Admin</a></button>
</nav>

<div class="jumbotron d-flex align-items-center min-vh-100">
  <div class="container text-center">
    <div *ngIf="!showInfo" @fadeIn>
      <div>
        <h1>Hei</h1>
        <p>Velkommen til Wikinomics</p>
        <button class="btn btn-dark" (click)="ShowInfo()">Hva er Wikinomics?</button>
      </div>
    </div>
    <div *ngIf="showInfo" @fadeIn> 
      <div *ngIf="!showRegister" @fadeIn>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, 
          pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. 
          Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex, 
          in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
          per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut 
          vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
          Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat 
          faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc. 
          Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis. 
          Cras pharetra mi tristique sapien vestibulum lobortis. Nam eget bibendum metus, 
          non dictum mauris. Nulla at tellus sagittis, viverra est a, bibendum metus.
        </p>
        <button class="btn btn-dark" (click)="ShowRegisterField()">Registrer mail</button>
      </div>
      <div *ngIf="showRegister" @fadeIn>
        <input type="text" class="form-control" style="width: 70%; margin: auto;" [(ngModel)] ="email" placeholder="Skriv inn email"/>
        <button type="button" class="btn btn-dark" (click) ="addEmailToDb(email)">Send inn</button>
        <div>
          navnet er : {{email}} <br/>
        </div>
        <h1>Hello, world!</h1>
        <input type="text">
      </div>
    </div>
    <button (click)="BackToMain()" class="btn btn-danger mt-1">Hovedside</button>
  </div>
</div>