<div class="page" id="page">  

  <div id="home" class="container-fluid bg-main home" scroll @fade>
    <div class="row text-center main-row">
      <div class="main">
        <img class="img-responsive img-fluid mainImg" src="../../assets/images/home/alonetime.svg" alt="Stuck At Home" />
        <br />
        <h2>
          Se for deg et sted der du kan stille alle dine karriererelaterte spørsmål, uten frykten for å dumme deg ut
        </h2>
        <button type="submit" class="btn btn-primary shadow-sm rounded-pill btnRegister" (click)="scrollToSignUp()">Registrer</button>
        <button class="btn" (click)="scrollToSection1()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
      </div>
    </div>
  </div>
  <div id="section1" class="container-fluid bg-sec">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-1">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/homeoffice.svg">
        </div>    
        <div class="col info order-sm-12">
          <div class="text">
            <h2>
              Ekte folk,<br /> 
              ærlige svar
            </h2>
            <p>
              KnowONE er stedet der helt vanlige folk besvarer alle dine karriererelaterte spørsmål.
            </p>
            <p>
              Dette er folk som studerer innen et fagfelt du er nysgjerrig på, har en rolle du synes ser spennende ut, 
              eller jobber innenfor en bransje du interesserer deg for og ønsker å lære mer om.
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSection2()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
    </div>

  </div>

  <div id="section2" class="container-fluid bg-main">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-12">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/searching.png">
        </div>
        <div class="col info order-sm-1">
          <div class="text">
            <h2>Legg alle antagelser til side</h2>
            <p>
              Hva gjør en produktdesigner? Hvordan er hverdagen til en såkalt "data scientist"? 
              Hva gjør egentlig en administrerende direktør? Og, hvordan er det å studere "digital kunst"?
            </p>
            <p>
              KnowONE er stedet der du kan legge alle antagelser rundt studier og karriere til side, 
              og få svar direkte fra de som  studerer, eller jobber med det du er nysgjerrig på.
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSection3()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
    </div>
  </div>
  
  <div id="section3" class="container-fluid bg-sec">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-1">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/brainstorming.svg">
        </div>
        <div class="col info order-sm-12">
          <div class="text">
            <h2>Dette er stedet hvor du kan...</h2>
            <ul class="text-left">
              <li><b>Motta tips og råd</b> fra folk du synes har en spennende bakgrunn og erfaring</li>
              <li><b>Dele dine erfaringer og kunnskap</b> med de som søker det</li>
              <li><b>Diskutere nyheter og emner</b> som opptar deg</li>
              <li>
                <b>Utvikle din egen karriere</b>, ved å dra nytte av kunnskapen og nettverket til ulike 
                studentgrupper, og profesjonelle bransjegrupper
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSection4()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
    </div>
  </div>

  <div id="section4" class="container-fluid">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-12">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/sittingonfloor.svg">
        </div>
        <div class="col info order-sm-1">
          <div class="text">
            <h2>Et trygt sted for "dumme" spørsmål</h2>
            <p>
              Vi mener at ingen spørsmål er dumme. Men, vi er også klare over hvor skummelt det kan være å 
              stille spørsmål til erfarne folk. Derfor har vi sørget for at du kan være anonym....fordi 
              frykten over å dumme seg ut skal ikke stå i veien for økt kunnskap.
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSection5()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
    </div>
  </div>

  <div id="section5" class="container-fluid bg-sec">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-1">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/statsandgraphs.svg">
        </div>
        <div class="col info order-sm-12">
          <div class="text">
            <h2>Du har større påvirkningskraft enn du tror</h2>
            <p>
              Tenk tilbake til da du var ung...da du undersøkte ulike studieretninger, dagdrømte om 
              din fremtidige jobb, eller jobbet mot en forfremmelse på jobb.
            </p>
            <p>
              Hva skulle du ønske noen fortalte deg? Hvilke råd ville du ha gitt til deg selv?
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSection6()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
    </div>
  </div>

  <div id="section6" class="container-fluid ">
    <div class="row">
      <div class="section">
        <div class="col image order-sm-12">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/homegarden.svg">
        </div>
        <div class="col info order-sm-1">
          <div class="text">
            <h2>Du kan utgjøre en forskjell</h2>
            <p>
              Det spiller ingen rolle om du er en student, jobber som administrerende direktør for en stor 
              bedrift, eller er en håpefull gründer. Din livserfaring er unik. Og, vi er overbevist om at noen 
              der ute trenger å lære fra deg, og høre på nettopp hva du har å si.
            </p>
            <p>
              Så, i tillegg til å  motta råd og veiledning fra andre, så håper vi at du tar deg tid til å gi 
              tilbake til samfunnet, ved å bruke KnowONE til  å dele det du har lært gjennom din karrierereise - 
              uansett hvor kort, eller lang den er.
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="scrollToSignUp()"><img src="../../assets/icons/arrow-down.svg" /><b>Registrer</b></button>
    </div>
  </div>

  <div id="signUp" class="container-fluid bg-sec">
    <div class="row form-row">
      <div class="section">
        <div class="col image regImg order-sm-1">
          <img class="img-responsive img-fluid homeImg" src="../../assets/images/home/sittingonfloor2.svg">
        </div>
        <div class="col info flex-column order-sm-12">
          <form [formGroup]="emailInputForm" (ngSubmit)="addEmailToDb()">
            <div class="form-group">
              <h2><b>Meld deg på</b></h2>
              <p>Vi lanserer til våren!</p>
              <p>Meld deg på nå, og vær blant de første brukerne som får teste KnowONE</p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="formFirstname" placeholder="Fornavn" (change)="showFirstnameValidation()">
              <p *ngIf="this.emailInputForm.controls.formFirstname.status=='INVALID' && firstnameVal">Fornavn er ikke gyldig</p>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="formLastname" placeholder="Etternavn" (change)="showLastnameValidation()">
              <p *ngIf="this.emailInputForm.controls.formLastname.status=='INVALID' && lastnameVal">Etternavn er ikke gyldig</p>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" formControlName="formEmail" placeholder="Email" (change)="showEmailValidation()">
              <p *ngIf="this.emailInputForm.controls.formEmail.status=='INVALID' && emailVal">Email er ikke gyldig</p>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkboxTerms" (change)="acceptTerms($event)">
              <label class="form-check-label required" for="checkboxTerms">
                Jeg godtar 
                <a href="../../assets/terms&conditions/Terms, conditions and privacy policy.pdf" target="_blank">vilkårene, og personvernreglene</a>
              </label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="checkbox2" (change)="wantUpdates($event)">
              <label class="form-check-label" for="checkbox2">
                Jeg ønsker å følge KnowONE sin startup-reise og høre fra grunnleggeren.
              </label>
            </div>
            <button type="submit" class="btn btn-primary shadow-sm rounded-pill btnRegister" [disabled]="!emailInputForm.valid || !termsAccepted">Registrer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>