<div class="page" id="page" style="height: 100vh">  

  <div id="home" class="container-fluid" (click)="toSection1()" scroll @fade>
    <div class="row text-center">
      <div class="col d-flex flex-column">
        <img src="../../assets/images/home/alonetime.svg" alt="Stuck At Home" width="40%"/>
        <br />
        <h2>You Are More Powerful than You Think</h2>
      </div>
    </div>
  </div>
  
  <div id="section1" class="container-fluid bg-light" (click)="toSection2()">
    <div class="row">
      <div class="col col-7 info">
        <div class="header bg-secondary">1.</div>
        <div class="text">
          <label>Experienced People, honest answers</label>
          <p>
            KnowONE is the go-to place for your burning career-oriented questions; answered by people who study 
            within the field of your interest, hold a title you may be curious about, or work within an industry 
            you want to learn more about.
          </p>
        </div>
      </div>
      <div class="col col-4">
        <img class="img-responsive pull-right imgPlants" src="../../assets/images/aboutus/plant5.svg">
      </div>    
    </div>
  </div>
  
  <div id="section2" class="container-fluid" (click)="toSection3()">
    <div class="row">
      <div class="col col-4">
        <img class="img-responsive pull-left imgPlants" src="../../assets/images/aboutus/plant5.svg">
      </div>
      <div class="col col-7 info">
        <div class="header bg-secondary">2.</div>
        <div class="text">
          <p>KnowONE er Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fisce nec posuere turpis</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="section3" class="container-fluid bg-light" (click)="toSection4()">
    <div class="row">
      <div class="col col-7 info">
        <div class="header bg-secondary">3.</div>
        <div class="text">
          <p>KnowONE er Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fisce nec posuere turpis</p>
        </div>
      </div>
      <div class="col col-4">
        <img class="img-responsive pull-right imgPlants" src="../../assets/images/aboutus/plant5.svg">
      </div>    
    </div>
  </div>
  
  <div id="section4" class="container-fluid" (click)="toHome()">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-primary bg-dark rounded shadow-sm p-3 mb-5 rounded" [routerLink]="['/knowone']">Kom i gang</button>
      </div>
    </div>
  </div>
</div>
