.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100px; 
    height: 100px;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info {
    width: 40%;
}

.text {
    width: 50%;
}

.imgHome {
    height: 250px;
}


@media(max-width: 500px) {
    #page {
        overflow: visible;
    }

    .container-fluid{
        
        font-size: 7px;
    }
}