<div class="page" id="page" style="height: 100vh">  

  <div id="home" class="container-fluid" scroll @fade>
    <div class="row text-center">
      <div class="col d-flex flex-column">
        <img src="../../assets/images/home/alonetime.svg" alt="Stuck At Home" width="40%"/>
        <br />
        <h2>
          What if we told you that you could be engaged in<br />
          networking, whithout the discomfort of<br />
          networking?
        </h2>
        <br />
        <button class="btn btn-lg btn-primary bg-dark shadow-sm p-3 mb-5 rounded-pill" (click)="toSignUp()">Say no more,<br />I'm in</button>
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col col-4">
        <img class="img-responsive pull-left homeImg" src="../../assets/images/home/homeoffice.svg">
      </div>    
      <div class="col col-7 info">
        <div class="text">
          <h2>
            Real People<br />
            Real answers
          </h2>
          <br />
          <p>
            KnowONE is the go-to-place for your burning career oriented questions; answered by ordinary people, 
            who study within the field of your interest, hold a role you may be curious about, or work within an 
            industry you want to learn more about.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-7 info">
        <div class="text">
          <h2>Put All Your Assumptions Aside</h2>
          <br />
          <p>
            Curious about what a product designer does? Or, how is it really to work as a data scientis? What does 
            a "CEO" really do? And, what is it really like to study "digital art"?
          </p>
          <p>
            KnowONE is the place where you can put all your career-related assumptions aside, and get your questions 
            answered straight from the horse's mouth!
          </p>
        </div>
      </div>
      <div class="col col-4">
        <img class="img-responsive pull-right homeImg" src="../../assets/images/home/searching.png">
      </div>
    </div>
  </div>
  
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col col-4">
        <img class="img-responsive pull-right homeImg" src="../../assets/images/home/brainstorming.svg">
      </div>
      <div class="col col-7 info">
        <div class="text">
          <h2>This is the Place Where You Can...</h2>
          <br />
          <ul class="text-left">
            <li><span class="bold">Recieve career advice</span> from someone you want to learn from.</li>
            <li><span class="bold">Share your knowledge and experience</span> with those who seek it.</li>
            <li><span class="bold">Discuss topics that matter</span> to you and your peers.</li>
            <li>
              <span class="bold">Join groups and communities</span> that serve as information resources, 
              and cheerleaders for your career development.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-7 info">
        <div class="text">
          <h2>A Safe Place For "Stupid" Questions</h2>
          <p>
            We believe that there are no "stupid questions". However, we also know how scary it can be to put 
            yourself out there. That's why we've made sure that you can be anonymous.
          </p>
          <p>
            ...Because, fear of judgement should not stand in the way of gaining knowledge.
          </p>
        </div>
      </div>
      <div class="col col-4">
        <img class="img-responsive pull-left homeImg" src="../../assets/images/home/sittingonfloor.svg">
      </div>
    </div>
  </div>

  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col col-4">
        <img class="img-responsive pull-right homeImg" src="../../assets/images/home/homegarden.svg">
      </div>
      <div class="col col-7 info">
        <div class="text">
          <h2>You Can Make A Difference</h2>
          <br />
          <p>
            Your life experience is unique. And, we are convinced that there is someone out there who needs to 
            hear from <span class="kursiv">you</span>, and learn from <span class="kursiv">your</span> experience.
          </p>
          <p>
            It doesn't matter if you're a student, a CEO of a big company, or an aspiring entrepreneur. What you 
            have gone through in life is unique, and someone out there needs to hear what you have to say.
          </p>
          <p>
            So, in addition to recieving advice and learning from others, we hope you take the time to give back 
            to society, by sharing what you have learnt throughout your career journey.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col col-4">
        <img class="img-responsive pull-left homeImg" src="../../assets/images/home/brainstorming.svg">
      </div>
      <div class="col col-7 info">
        <div class="text">
          <h2>You Can Make A Difference</h2>
          <br />
          <p>
            Think back to your younger self, when you were exploring what to study, day-dreaming abour your future job, 
            or working towards a promotion at work.
          </p>
          <p>What do you wish someone told you? What advice would you give to your younger self?</p>
        </div>
      </div>
    </div>
  </div>

  <div id="signUp" class="container-fluid bg-light">
    <div class="row">
      <div class="col col-7 info">
        <div class="text-center">
          <form [formGroup]="emailInputForm" (ngSubmit)="addEmailToDb()">
            <input formControlName="formFirstname" type="text" placeholder="Fornavn"/>
            <input formControlName="formLastname" type="text" placeholder="Etternavn" />
            <input formControlName="formEmail" type="text" class="form-control" style="width: 100%; margin: auto;" placeholder="Skriv inn email" />
              <p *ngIf="this.emailInputForm.controls.formEmail.status=='INVALID'">
                Email is not valid.      
              </p>
              <br/>
              
              <div class="form-check form-check-inline">
                <div class="row">
                  <div class="col-2">
                    <input class="checkbox" id="checkbox1" type="checkbox">
                  </div>
                  <div class="col-6">
                    <label for="checkbox1">I accept the terms and conditions</label>
                  </div>
                </div>
              </div>
              <br />
              <div class="form-check form-check-inline">
                <div class="row">
                  <div class="col-2">
                    <input class="checkbox" id="checkbox2" type="checkbox">
                  </div>
                  <div class="col-6">
                    <label for="checkbox2">
                      I definitely want to follow KnowONE's startup journey by email, and hear 
                      from the founder.
                    </label>
                  </div>
                </div>
              </div>
              <br />
              <button type="submit" class="btn btn-dark" [disabled]="!emailInputForm.valid">Send inn</button>
              <button class="btn btn-danger">Tilbake</button>
          </form>
        </div>
      </div>
      <div class="col col-4">
        <img class="img-responsive pull-left homeImg" src="../../assets/images/home/sittingonfloor2.svg">
      </div>
    </div>

  </div>
  
  <div id="section6" class="container-fluid" (click)="toHome()">
    <div class="row">
      <div class="col d-flex justify-content-center align-items-center">
        <button class="btn btn-lg btn-primary bg-dark shadow-sm p-3 mb-5 rounded-pill" [routerLink]="['/knowone']">Say no more,<br />I'm in</button>
      </div>
    </div>
  </div>
  <button class="btnToHome btn btn-secondary" (click)="toHome()">To Top</button>
</div>
