.page {
    padding-top: 80px;
}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
    font-size: 1.5vw;
}

h2 {
    font-size: 2vw;
}

.header {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    width: 100%;
}

.col-7, .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    text-align: center;
}

.text {
    width: 70%;
}

.imgPlants {
    width: 30%;
}

@media (max-width: 600px) {
    .container-fluid {
        height: 33vh;
    }
}
