.container-fluid {
    height: 100vh;
}

.header {
    width: 100px; 
    height: 100px;  
    border-radius: 50%;
}

.info {
    width: 40%;
}

.text {
    width: 50%;
}

@media(max-width: 500px) {
    #page {
        overflow: visible;
    }

    .container-fluid{
        height: 50vh;
        font-size: 7px;
    }
}