<nav id="idNav" class="navbar navbar-expand-lg navbar-light fixed-top">
  <a class="navbar-brand order-0" [routerLink]="['/home']" (click)="returnToHome()">KnowONE</a> 
  <button class="navbar-toggler order-3" type="button" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse links1" [ngClass]="{ 'show': isExpanded }" *ngIf="!norwegian">
    <ul class="nav navbar-nav mx-auto links" (click)="isExpanded = !isExpanded">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/home']" [routerLinkActive]="['active']">HJEM</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/aboutus']" [routerLinkActive]="['active']">OM OSS</button>
      </li>
    </ul>
  </div>
  <div class="lang" *ngIf="!norwegian">
    <a class="flagLang" (click)="changeLanguage()" [routerLink]="['/home/en']">
      <img class="flag" src="../../assets/icons/flags/united-kingdom.svg">
      EN
    </a>
  </div>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isExpanded }" *ngIf="norwegian">
    <ul class="nav navbar-nav mx-auto" (click)="isExpanded = !isExpanded">
      <li class="nav-item active">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/home/en']" [routerLinkActive]="['active']">HOME</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link" (click)="scrollToTop($event)" [routerLink]="['/aboutus/en']" [routerLinkActive]="['active']">ABOUT US</button>
      </li>
    </ul>
  </div>
  <div class="lang" *ngIf="norwegian">
    <a class="flagLang" (click)="changeLanguage()" [routerLink]="['/home']">
      <img class="flag" src="../../assets/icons/flags/norway.svg">
      NO
    </a>
  </div>
</nav>