.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navbar {
    background-color: var(--mainColor);
}

.navbar a, .navbar button, .navbar span {
    color: white;
}

.btn {
    color: black;
}

button {
    font-weight: bold;
}

button.active {
    font-size: 22px;
}

button:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

button:hover {
    text-decoration: none;
}

.flag {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.lang {
    width: 100px;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    width: 100px;
}

.flagLang {
    display: flex;
    align-items: center;
}

.flagLang:hover {
    text-decoration: none;
}
