/* You can add global styles to this file, and also import other style files */
:root {
  --mainColor: rgb(rgb(10,67,67));
  --secondaryColor: rgb(35,121,120);
}


/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

hr {
    margin: 20px 0px 20px 0px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.relativeDiv {
  position: relative;
}

.htmlPreview {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin: 5px 0px 5px 0px;
  background: white;
}

.message {
  text-align: center;
}

.cleanText {
    font-family: 'Arial', sans-serife 
}

.customModalClass .modal-dialog {
  max-width: 800px;
}


* {
  font-family: 'Open Sans', sans-serif;
}
