<div class="container-fluid d-flex">
    <div class="row mx-auto">
        <div class="col">
            <p>Contact - MILEHAGEN@knowone.no</p>
        </div>
        <div class="col">
            <p><span>&#169;</span> 2021 knowone AS - All Rights Reserved</p>
        </div>
        <div class="col">
            <ul class="d-flex justify-content-center align-items-center">
                <li>
                    <a href="https://instagram.com/knowone.no?igshid=kspcfz2hj66l" target="_blank">
                        <img class="socialMedia" src="../../assets/icons/socialmedia/instagram.png" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/company/71568266/admin/" target="_blank">
                        <img class="socialMedia" src="../../assets/icons/socialmedia/linkedin.png" alt="LinkedIn">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/Knowone-105363628270507" target="_blank">
                        <img class="socialMedia" src="../../assets/icons/socialmedia/facebook.png" alt="Facebook">
                    </a>
                </li>
            </ul>
        </div>
        <div class="col">
            <div style="color: white;">
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </div>
    </div>
</div>