<div class="page" id="page" style="height: 100vh">  

    <div id="home" class="container-fluid" @fade>
      <div class="row text-center">
        <div class="col d-flex flex-column">
          <img class="img-responsive img-fluid mainImg" src="../../assets/images/aboutus/imagintation.svg" alt="imagination.svg" width="30%;">
          <h2>Our intention, and Reason For Our Existence</h2>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div class="section">
          <div class="col image">
            <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/plant5.svg" alt="plant.svg">
          </div>
          <div class="col info">
            <div class="text">
              <h2>Vision</h2>
              <p>Zero talent is wasted</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div class="section">
          <div class="col info">
            <div class="text">
              <h2>Mission</h2>
              <p>
                KnowONE is a career platform that empowers you, by connecting you to people who are 
                relevant for you and your career growth.
              </p>
  
              <p>
                Through anonymity, we lower the threshold to ask those burning career oriented questions 
                you may have, but are too afraid to ask.
              </p>
  
              <p>
                Our mission is to ensure that no talent is wasted due to lack of a relevant network.
              </p>
            </div>
          </div>
          <div class="col image">
            <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/plant6.svg" alt="plant.svg" />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div class="section">
          <div class="col image">
            <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/plant1.svg" alt="plant.svg" />
          </div>
          <div class="col info">
            <div class="text">
              <h2>Why KnowONE Matters</h2>
              <p>
                It's a well known fact that the size of your network allows you access to opportunities 
                you might not have known about otherwise. But, if there's an upside to being well-connected, 
                we believe the opposite to be true for those with a small network. In other words, the playing 
                field is not level.
              </p>
  
              <p>
                Through our platform, we hope you are reminded of how valuable your knowledge and network 
                is. And, once you realise this, we hope you leverage this to help others.
              </p>
  
              <p>
                KnowONE matters, because <i>everyone</i> matters.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <div class="section">
          <div class="col info">
            <div class="text">
              <h2>The Power of KnowONE</h2>
              <p>
                We believe that everyone has a superpower. And, that superpower is about connecting people.
              </p>
              <p>
                Although you may feel young and inexperienced, and perhaps even feel like you're "no one", 
                we're convinced that you know ONE person in your network, that can be of help to someone else. 
                And, your SUPERPOWER is to introduce that <i>one</i> person 
                to someone else, who you think may benefit from being connected.
              </p>
              <p>
                Don't believe us?
              </p>
              <p>
                Researchers at Microsoft studied records of 30 billion electronic conversations among 180 million 
                people in various countries, and worked out that any two strangers are, on average, distanced by 
                precisely 6.6 degrees of separation. In other words, you are linked by a string of seven or fewer 
                accquintances to Bill Gates, the Dalai Lama and the Queen.
              </p>
              <p>
                Imagine the endless potential for personal and professional growth, if only we shared our experience 
                and knowledge with people <i>outside</i> of our own network- the 
                people we call strangers.
              </p>
              <p>
                When you connect people, your knowledge and network is amplified. And that, my friend, is the 
                power of KnowONE.
              </p>
              <p>
                KnowONE is more than a career platform; it's a movement.
              </p>
            </div>
          </div>
          <div class="col image">
            <img class="img-responsive img-fluid pull-right homeImg" src="../../assets/images/aboutus/plant4.svg" alt="plant.svg" />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container-fluid" (click)="toHome()">
      <div class="row">
        <div class="section">
          <div class="col image">
            <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/avatar.svg" alt="plant.svg" />
          </div>
          <div class="col info">
            <div class="text">
              <h2>Words From The Founder, Mi Le Hagen</h2>
              <p>dawdawawfawf</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>