.page {
    padding-top: 80px;
}

.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
    font-size: 1.5vw;
}

#home {
    height: 90vh;
}

h2 {
    font-size: 2vw;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text label {
    font-weight: bold;
}

.imgPlants {
    width: 30%;
}

.btnToHome {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media (max-width: 600px) {
    .container-fluid, #home {
        height: 33vh;
    }
}