<div class="page" id="page">  

  <div id="home" class="container-fluid" @fade>
    <div class="row text-center">
      <div class="col d-flex flex-column">
        <img class="img-responsive img-fluid mainImg" src="../../assets/images/aboutus/imagintation.svg" alt="imagination.svg" width="30%;">
        <h2>Grunnen For Vår Eksistens</h2>
        <br />
        <button class="btn btn primary" (click)="scrollToSection1()"><img src="../../assets/icons/arrow-down.svg" /><b>Les mer</b></button>
      </div>
    </div>
  </div>
  <div id="section1" class="container-fluid bg-sec">
    <div class="row">
      <div class="section">
        <div class="col info order-sm-12">
          <div class="text">
            <h2>Visjon</h2>
            <p>100% utnyttelse av ditt potensial</p>
          </div>
        </div>
        <div class="col image order-sm-1">
          <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/plant5.svg" alt="plant.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="section">
        <div class="col info order-sm-1">
          <div class="text">
            <h2>Misjon</h2>
            <p>
              KnowONE kobler deg til mennesker som er relevante for deg og din karriereutvikling.
            </p>

            <p>
              Gjennom anonymitet senker vi terskelen for å stille alle de karriererelaterte spørsmålene du 
              måtte ha, men er for redd for å spørre.
            </p>

            <p>
              Vår misjon er å sikre at ditt potensial og talent ikke blir kastet bort grunnet mangel på et 
              relevant nettverk.
            </p>
          </div>
        </div>
        <div class="col image order-sm-12">
          <img class="img-responsive img-fluid pull-left homeImg" src="../../assets/images/aboutus/plant6.svg" alt="plant.svg" />
        </div>
      </div>
    </div>
  </div>
</div>