.container-fluid {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    display: flex;
    justify-content: space-around;
}

.info {
    width: 90%;
    margin-top: 80px;
}

.row {
    overflow: auto;
}

.text {
    width: 60%;
}

.text label {
    font-weight: bold;
}